* {
    box-sizing: border-box;
    font-family: Inter, Inter Fallback, Arial, sans-serif;
}

body {
    background: #fff;
    color: #222;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 40px 10px;
}


.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.title {
    color: #222;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.title span {
    color: #0051c6;
}

.mascot {
    width: 130px;
}

.subtitle {
    font-weight: 500;
    margin: 6px 0;
}


.or {
    margin: 10px 0;
    font-weight: 600;
    color: #555;
}

.register-form {
    text-align: left;
    margin-top: 10px;
    background: #fff;
    padding: 20px 25px;
    border: 1px solid #eee;
    border-radius: 12px;
}

.register-form h2 {
    font-size: 18px;
    color: #000;
    margin-top: 15px;
    border-bottom: 1px dashed #eee;
    padding-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.field label span {
    color: #999;
    font-weight: 400;
}

.field input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
}

.field input:focus {
    border-color: #0051c6;
    outline: none;
}

.hint {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

.checkbox {
    margin-top: 15px;
    font-size: 14px;
}

.terms {
    font-size: 13px;
    margin-top: 15px;
    color: #555;
}

.terms a {
    color: #0051c6;
    text-decoration: none;
    font-weight: 600;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btn {
    flex: 1;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.btn.primary {
    background: #0051c6;
    color: #fff;
}

.btn.secondary {
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
}

.btn.primary:hover {
    background: #0051c6;
}

.btn.secondary:hover {
    background: #f9f9f9;
}

@media (max-width: 540px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.social-login {
    margin-top: 20px;
}

.social-btn {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    transition: 0.3s;
    font-size: 16px;
}

.social-btn:hover {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: inherit;
    display: contents;
}

.btn.social.google img {
    width: 20px;
    height: 20px;
}


