/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Segoe UI", sans-serif;
}
.gio-hang {
    background-color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0 10%;
}
.gio-hang-noi-dung {
    width: 100%;          /* lùi vào hai bên, chiếm 80% màn hình */
    max-width: 1200px;   /* không vượt quá 1200px */
    margin: 0 auto;      /* căn giữa */
    box-sizing: border-box;
    padding: 0 20px;     /* tạo khoảng trống thêm nếu muốn */
}